$icomoon-font-family: 'fatihicon' !default;
$icomoon-font-path: 'fonts' !default;

$ic_eye: '\e94c';
$ic_offline: '\e94b';
$ic_download_2: '\e94a';
$ic_online: '\e949';
$cost: '\e944';
$cal-offer_date: '\e945';
$discount: '\e946';
$tick-2: '\e947';
$ic_counter-offer: '\e948';
$ic_marketplace: '\e943';
$ic_offers_seller: '\e941';
$ic_offers_buyer: '\e942';
$ic_save: '\e940';
$ic_edit: '\e93f';
$ic_instagram: '\e93c';
$ic_twitter: '\e93d';
$ic_world: '\e93e';
$ic_add: '\e900';
$ic_arrow_back: '\e901';
$ic_arrow_downward: '\e902';
$ic_arrow_upward: '\e903';
$ic_buying: '\e904';
$ic_cal: '\e905';
$ic_cancel_order: '\e906';
$ic_cards: '\e907';
$ic_chat_bubble: '\e908';
$ic_close: '\e909';
$ic_copy: '\e90a';
$ic_dashboard: '\e90b';
$ic_dashboard_2: '\e90c';
$ic_delete: '\e90d';
$ic_delivery: '\e90e';
$ic_details: '\e90f';
$ic_disputes: '\e910';
$ic_download: '\e911';
$ic_email: '\e912';
$ic_explore: '\e913';
$ic_facebook: '\e914';
$ic_FATIH: '\e915';
$ic_format_list_bulleted: '\e916';
$ic_from: '\e917';
$ic_info: '\e918';
$ic_invoice: '\e919';
$ic_keyboard_arrow_down: '\e91a';
$ic_keyboard_arrow_left: '\e91b';
$ic_keyboard_arrow_right: '\e91c';
$ic_keyboard_arrow_up: '\e91d';
$ic_list: '\e91e';
$ic_loadmore: '\e91f';
$ic_logout: '\e920';
$ic_menu: '\e921';
$ic_message: '\e922';
$ic_minus: '\e923';
$ic_more_horiz: '\e924';
$ic_notifications: '\e925';
$ic_package: '\e926';
$ic_parameters: '\e927';
$ic_payments: '\e928';
$ic_pin: '\e929';
$ic_product: '\e92a';
$ic_profile: '\e92b';
$ic_QA: '\e92c';
$ic_resolved: '\e92d';
$ic_review: '\e92e';
$ic_search: '\e92f';
$ic_seller: '\e930';
$ic_send: '\e931';
$ic_settings: '\e932';
$ic_share: '\e933';
$ic_shipping_id: '\e934';
$ic_shopping_cart: '\e935';
$ic_template: '\e936';
$ic_tick: '\e937';
$ic_translating: '\e938';
$ic_verified: '\e939';
$ic_wishlist: '\e93a';
$ic_wishlist_border: '\e93b';
