import { {{ properCase ComponentName }}State } from 'app/Dashboard/containers/{{ properCase ComponentName }}/types';
// [IMPORT NEW CONTAINERSTATE ABOVE] < Needed for generating containers seamlessly
