@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?ogkrmf');
  src: url('fonts/icomoon.eot?ogkrmf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ogkrmf') format('truetype'),
    url('fonts/icomoon.woff?ogkrmf') format('woff'),
    url('fonts/icomoon.svg?ogkrmf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-left:before {
  content: '\e913';
}

.icon-a-left1:before {
  content: '\e914';
}

.icon-arrow-up:before {
  content: '\e900';
}

.icon-arrow-down:before {
  content: '\e901';
}

.icon-arrow-right:before {
  content: '\e902';
}

.icon-arrow-left:before {
  content: '\e903';
}

.icon-bathtub:before {
  content: '\e904';
}

.icon-check-o:before {
  content: '\e905';
}

.icon-close:before {
  content: '\e906';
}

.icon-date_range:before {
  content: '\e907';
}

.icon-facebook:before {
  content: '\e908';
}

.icon-fitness-center:before {
  content: '\e909';
}

.icon-instagram:before {
  content: '\e90a';
}

.icon-location:before {
  content: '\e90b';
}

.icon-night-shelter:before {
  content: '\e90c';
}

.icon-phone:before {
  content: '\e90d';
}

.icon-pool:before {
  content: '\e90e';
}

.icon-room-service:before {
  content: '\e90f';
}

.icon-storefront:before {
  content: '\e910';
}

.icon-twitter:before {
  content: '\e911';
}

.icon-wifi:before {
  content: '\e912';
}
