@charset "UTF-8";

@font-face {
  font-family: 'SVN-Poppins';
  src: url('./fonts/SVN-Poppins/svn-poppins-regular/svn-poppins-regular.eot');
  src: url('./fonts/SVN-Poppins/svn-poppins-regular/svn-poppins-regular.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/SVN-Poppins/svn-poppins-regular/svn-poppins-regular.woff2')
      format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SVN-Poppins';
  src: url('./fonts/SVN-Poppins/svn-poppins-regular/svn-poppins-regular.svg#svn-poppins-regular')
      format('svg'),
    url('./fonts/SVN-Poppins/svn-poppins-regular/svn-poppins-regular.ttf')
      format('truetype'),
    url('./fonts/SVN-Poppins/svn-poppins-regular/svn-poppins-regular.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SVN-Poppins';
  src: url('./fonts/SVN-Poppins/svn-poppins-medium/svn-poppins-medium.eot');
  src: url('./fonts/SVN-Poppins/svn-poppins-medium/svn-poppins-medium.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/SVN-Poppins/svn-poppins-medium/svn-poppins-medium.woff2')
      format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SVN-Poppins';
  src: url('./fonts/SVN-Poppins/svn-poppins-medium/svn-poppins-medium.svg#svn-poppins-medium')
      format('svg'),
    url('./fonts/SVN-Poppins/svn-poppins-medium/svn-poppins-medium.ttf')
      format('truetype'),
    url('./fonts/SVN-Poppins/svn-poppins-medium/svn-poppins-medium.woff')
      format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SVN-Poppins';
  src: url('./fonts/SVN-Poppins/svn-poppins-bold/svn-poppins-bold.eot');
  src: url('./fonts/SVN-Poppins/svn-poppins-bold/svn-poppins-bold.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/SVN-Poppins/svn-poppins-bold/svn-poppins-bold.woff2')
      format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SVN-Poppins';
  src: url('./fonts/SVN-Poppins/svn-poppins-bold/svn-poppins-bold.svg#svn-poppins-bold')
      format('svg'),
    url('./fonts/SVN-Poppins/svn-poppins-bold/svn-poppins-bold.ttf')
      format('truetype'),
    url('./fonts/SVN-Poppins/svn-poppins-bold/svn-poppins-bold.woff')
      format('woff');
  font-weight: bold;
  font-style: normal;
}
