.editor-control-wrapper {
  .quill {
    .ql-container {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;

      .ql-editor {
      }
    }

    .ql-toolbar {
      align-items: center;
      display: flex;
      height: 61px;
      padding-left: 30px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    border-radius: 8px;
    height: 200px;
  }
}

.view-editor-control-wrapper {
  .quill {
    .ql-container.ql-snow {
      border: none !important;
    }

    .ql-editor {
      padding: 0 !important;
    }
  }
}
